<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :first_name %>
      <%= f.text_field :firstname %>

      <%= f.label :last_name %>
      <%= f.text_field :lastname %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :street_address %>
      <%= f.text_field :streetaddress %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :zip %>
      <%= f.text_field :zip %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <!--<%= f.label :Appointment %>
      <%= f.select :state, [['Please select a date and time', nil], '04-05-2013 at 10:00am-11:00am', '04-05-2013 at 11:30am-12:30pm', '04-05-2013 at 10:00am-11:00am', '04-05-2013 at 11:30am-12:30pm'] %>-->
	    <br/>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>