<% provide(:title, @user.firstname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
  	    <%= @user.firstname %>
        <%= @user.lastname %><br/><br/>
        Email: <%= @user.email %><br/>
        Street: <%= @user.streetaddress %><br/>
        City: <%= @user.city %> <br/>
        State: <%= @user.state %><br/>
        Zip: <%= @user.zip %><br/>
        Phone Number: <%= @user.phone %>
      </h1>
      <br/>
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.appointments.any? %>
      <h3>Appointments (<%= @user.appointments.count %>)</h3>
      <ol class="appointments">
        <%= render @appointments %>
      </ol>
    <% end %>
  </div>
</div>