<!--<script type="text/javascript">	
function appTest() {
var app_date1 = document.getElementById('date').value();
var app_date2 = document.getElementById('date2').value();

if (app_date1 && app_date2 != "") {

alert("Please try again. You cannot book multiple appointments at the same time.");
//document.new_appointment.appointment_date2.focus();
document.getElementById('new_appointment').reset();
}
}
, :html => { :onsubmit => 'appTest();' }
</script>-->

<%= form_for(@appointment) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<br/><br/><br/><hr/>
<div class="row">
	<h1>
	   	May 2013
	</h1><br/>
	<table border="3">
<!--DAYS OF THE WEEK-->
	<tr>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>
<!--WEEK 1-->
	<tr>
		<td>
		<h2>28</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>29</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>30</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>1</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>2</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>3</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>4</h2>
		<%= f.select :date, [['Select a date and time', nil], '05-04-2013 at 10:00am-11:00am', '05-04-2013 at 11:30am-12:30pm', '05-04-2013 at 1:00am-2:00am'] %>
		</td>
	</tr>
<!--WEEK 2-->
	<tr>
		<td>
		<h2>5</h2>
		<%= f.select :date2, [['Select a date and time', nil], '05-05-2013 at 10:00am-11:00am', '05-05-2013 at 11:30am-12:30pm', '05-05-2013 at 1:00am-2:00am'] %>
		</td>

		<td>
		<h2>6</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>7</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>8</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>9</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>10</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>11</h2>
		<%= f.select :date3, [['Select a date and time', nil], '05-11-2013 at 10:00am-11:00am', '05-11-2013 at 11:30am-12:30pm', '05-11-2013 at 1:00am-2:00am'] %>
		</td>
	</tr>
<!--WEEK 3-->
	<tr>
		<td>
		<h2>12</h2>
		<%= f.select :date4, [['Select a date and time', nil], '05-12-2013 at 10:00am-11:00am', '05-12-2013 at 11:30am-12:30pm', '05-12-2013 at 1:00am-2:00am'] %>
		</td>

		<td>
		<h2>13</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>14</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>15</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>16</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>17</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>18</h2>
		<%= f.select :date5, [['Select a date and time', nil], '05-18-2013 at 10:00am-11:00am', '05-18-2013 at 11:30am-12:30pm', '05-18-2013 at 1:00am-2:00am'] %>
		</td>
	</tr>
<!--WEEK 4-->
	<tr>
		<td>
		<h2>19</h2>
		<%= f.select :date6, [['Select a date and time', nil], '05-19-2013 at 10:00am-11:00am', '05-19-2013 at 11:30am-12:30pm', '05-19-2013 at 1:00am-2:00am'] %>
		</td>

		<td>
		<h2>20</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>21</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>22</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>23</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>24</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>25</h2>
		<%= f.select :date7, [['Select a date and time', nil], '05-25-2013 at 10:00am-11:00am', '05-25-2013 at 11:30am-12:30pm', '05-25-2013 at 1:00am-2:00am'] %>
		</td>
	</tr>
<!--WEEK 5-->
	<tr>
		<td>
		<h2>26</h2>
		<%= f.select :date8, [['Select a date and time', nil], '05-26-2013 at 10:00am-11:00am', '05-26-2013 at 11:30am-12:30pm','05-26-2013 at 1:00am-2:00am', '05-26-2013 at 5:00am-6:00am'] %>
		</td>

		<td>
		<h2>27</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>28</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>29</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>30</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>31</h2>
		<h2>BLOCKED</h2>
		</td>

		<td>
		<h2>1</h2>
		<h2>BLOCKED</h2>
		</td>
	</tr>
	</table>
	<br/>
</div>

</br>
<%= f.select :package, [['Select a package', nil], '60 Dollars', '80 Dollars', '100 Dollars'] %>
</br>
<%= f.submit "Create Appointment", class: "btn btn-large btn-primary" %>
<% end %>
