<!--<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>-->
<span><h1>
  <%= current_user.firstname %>
  <%= current_user.lastname %>
</h1>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.appointments.count, "appointment") %>
</span>