<li>
  <span class="package"><%= appointment.package %></span>
  <span class="date"><%= appointment.date %></span>
    
  <span class="date2"><%= appointment.date2 %></span>
  
  <span class="date3"><%= appointment.date3 %></span>
  
  <span class="date4"><%= appointment.date4 %></span>
  
  <span class="date5"><%= appointment.date5 %></span>
  
  <span class="date6"><%= appointment.date6 %></span>

  <span class="date7"><%= appointment.date7 %></span>

  <span class="date8"><%= appointment.date8 %></span>

  <span class="date9"><%= appointment.date9 %></span>

  <span class="date10"><%= appointment.date10 %></span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(appointment.created_at) %> ago.
  </span> 
  <% if current_user?(appointment.user) %>
    <%= link_to "Reschedule", appointment, method: :delete,
                                     data: { confirm: "Are you sure you want to delete this appointment and reschedule?" },
                                     title: appointment.date %>
  <% end %>
</li>